<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
  <meta charset="UTF-8">
  <title>게시글 상세 페이지</title>
</head>
<body>
    <div layout:fragment="view">
        <div class="container my-3">
            <!-- 게시판 글 내용 -->
            <h1 class="border-bottom py-2" th:text="${boardview.title}">제목</h1>
            <div class="card my-3">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;" th:text="${boardview.content}">내용</div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                Last_Update
                                <span th:if="${boardview.author != null}" th:text="${boardview.author.name}"></span>
                            </div>
                            <div th:text="${boardview.modifiedDate}"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a th:href="@{|/main/board/vote/${boardview.id}|}"
                           class="recommend btn btn-sm btn-outline-secondary"
                           th:attr="onclick='return confirm(`추천하시겠습니까?`)'">
                            추천
                            <span class="badge rounded-pill bg-success" th:text="${#lists.size(boardview.voter)}"></span>
                        </a>
                        <a th:href="@{|/main/board/modify/${boardview.id}|}" class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${boardview.author != null and #authentication.getPrincipal().getUsername() == boardview.author.email}"
                           th:text="수정"
                           th:attr="onclick='return confirm(`수정하시겠습니까?`)'"></a>

                        <a th:href="@{|/main/board/delete/${boardview.id}|}"
                           class="btn btn-sm btn-outline-secondary delete-btn"
                           sec:authorize="isAuthenticated()"
                           th:if="${boardview.author != null and #authentication.getPrincipal().getUsername() == boardview.author.email}"
                           th:text="삭제"
                           th:attr="onclick='return confirm(`정말로 삭제하시겠습니까?`)'">삭제</a>
                    </div>
                </div>
            </div>
            <!-- 답변의 갯수 표시 -->
            <h5 class="border-bottom my-3 py-2"
                th:text="|${#lists.size(boardview.answerList)}개의 답변이 있습니다.|"></h5>
            <!-- 답변 반복 시작 -->
            <div class="card my-3" th:each="answer : ${boardview.answerList}">
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                                <span th:if="${answer.author != null}" th:text="${answer.author.name}"></span>
                            </div>
                            <div th:text="${answer.createdDate}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 답변 반복 끝  -->
            <!-- 답변 작성 -->
            <form class="my-3" th:action="@{|/answer/create/${boardview.id}|}" method="post" >
                <textarea class="form-control" name="content" id="content" rows="15"></textarea>
                <input class="btn btn-dark my-2" type="submit" value="댓글 등록">
            </form>
        </div>
    </div>

</body>
</html>